# Dependências do projeto
asyncio==3.4.3
pytube==12.1.3
discord.py==2.2.2
youtube-search-python==1.6.6
youtube_dl==2021.12.17

# Configuração do ambiente virtual
# 1° - py -3 -m venv .venv
# 2 - .venv\scripts\activate
# em caso de error de scpit
# Set-ExecutionPolicy -ExecutionPolicy Unrestricted -Scope CurrentUser

# Informações sobre as dependências
# https://pypi.org/